anyio==3.6.2 ; python_version >= "3.8" and python_version < "3.11"
appdirs==1.4.4 ; python_version >= "3.8" and python_version < "3.11"
appnope==0.1.3 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Darwin" or python_version >= "3.8" and python_version < "3.11" and sys_platform == "darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.8" and python_version < "3.11"
argon2-cffi==21.3.0 ; python_version >= "3.8" and python_version < "3.11"
arrow==1.2.3 ; python_version >= "3.8" and python_version < "3.11"
asttokens==2.2.1 ; python_version >= "3.8" and python_version < "3.11"
attrs==22.2.0 ; python_version >= "3.8" and python_version < "3.11"
backcall==0.2.0 ; python_version >= "3.8" and python_version < "3.11"
beautifulsoup4==4.11.1 ; python_version >= "3.8" and python_version < "3.11"
bleach==5.0.1 ; python_version >= "3.8" and python_version < "3.11"
certifi==2021.10.8 ; python_version >= "3.8" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.11"
charset-normalizer==3.0.1 ; python_version >= "3.8" and python_version < "3.11"
click==8.1.3 ; python_version >= "3.8" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Windows" or python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32"
comm==0.1.2 ; python_version >= "3.8" and python_version < "3.11"
contourpy==1.0.7 ; python_version >= "3.8" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.8" and python_version < "3.11"
debugpy==1.6.5 ; python_version >= "3.8" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.8" and python_version < "3.11"
deepsearch-toolkit==0.13.0 ; python_version >= "3.8" and python_version < "3.11"
defusedxml==0.7.1 ; python_version >= "3.8" and python_version < "3.11"
ecdsa==0.18.0 ; python_version >= "3.8" and python_version < "3.11"
entrypoints==0.4 ; python_version >= "3.8" and python_version < "3.11"
et-xmlfile==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
executing==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
fastjsonschema==2.16.2 ; python_version >= "3.8" and python_version < "3.11"
fonttools==4.38.0 ; python_version >= "3.8" and python_version < "3.11"
fqdn==1.5.1 ; python_version >= "3.8" and python_version < "3.11"
idna==3.4 ; python_version >= "3.8" and python_version < "3.11"
importlib-metadata==6.0.0 ; python_version >= "3.8" and python_version < "3.10"
importlib-resources==5.10.2 ; python_version >= "3.8" and python_version < "3.9"
ipykernel==6.20.2 ; python_version >= "3.8" and python_version < "3.11"
ipython-blocking==0.3.1 ; python_version >= "3.8" and python_version < "3.11"
ipython-genutils==0.2.0 ; python_version >= "3.8" and python_version < "3.11"
ipython==8.8.0 ; python_version >= "3.8" and python_version < "3.11"
ipywidgets==7.7.2 ; python_version >= "3.8" and python_version < "3.11"
isoduration==20.11.0 ; python_version >= "3.8" and python_version < "3.11"
jedi==0.18.2 ; python_version >= "3.8" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.8" and python_version < "3.11"
joblib==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
jsonpointer==2.3 ; python_version >= "3.8" and python_version < "3.11"
jsonschema==4.17.3 ; python_version >= "3.8" and python_version < "3.11"
jsonschema[format-nongpl]==4.17.3 ; python_version >= "3.8" and python_version < "3.11"
jupyter-client==7.4.9 ; python_version >= "3.8" and python_version < "3.11"
jupyter-console==6.4.4 ; python_version >= "3.8" and python_version < "3.11"
jupyter-core==5.1.3 ; python_version >= "3.8" and python_version < "3.11"
jupyter-events==0.6.3 ; python_version >= "3.8" and python_version < "3.11"
jupyter-server-terminals==0.4.4 ; python_version >= "3.8" and python_version < "3.11"
jupyter-server==2.1.0 ; python_version >= "3.8" and python_version < "3.11"
jupyter==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
jupyterlab-pygments==0.2.2 ; python_version >= "3.8" and python_version < "3.11"
jupyterlab-widgets==1.1.1 ; python_version >= "3.8" and python_version < "3.11"
kiwisolver==1.4.4 ; python_version >= "3.8" and python_version < "3.11"
markupsafe==2.1.2 ; python_version >= "3.8" and python_version < "3.11"
matplotlib-inline==0.1.6 ; python_version >= "3.8" and python_version < "3.11"
matplotlib==3.6.3 ; python_version >= "3.8" and python_version < "3.11"
mistune==2.0.4 ; python_version >= "3.8" and python_version < "3.11"
mols2grid==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
nbclassic==0.4.8 ; python_version >= "3.8" and python_version < "3.11"
nbclient==0.7.2 ; python_version >= "3.8" and python_version < "3.11"
nbconvert==7.2.8 ; python_version >= "3.8" and python_version < "3.11"
nbformat==5.7.3 ; python_version >= "3.8" and python_version < "3.11"
nest-asyncio==1.5.6 ; python_version >= "3.8" and python_version < "3.11"
notebook-shim==0.2.2 ; python_version >= "3.8" and python_version < "3.11"
notebook==6.5.2 ; python_version >= "3.8" and python_version < "3.11"
numerize==0.12 ; python_version >= "3.8" and python_version < "3.11"
numpy==1.24.1 ; python_version >= "3.8" and python_version < "3.11"
nvidia-cublas-cu11==11.10.3.66 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Linux"
nvidia-cudnn-cu11==8.5.0.96 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Linux"
openpyxl==3.0.10 ; python_version >= "3.8" and python_version < "3.11"
packaging==23.0 ; python_version >= "3.8" and python_version < "3.11"
pandas==1.5.3 ; python_version >= "3.8" and python_version < "3.11"
pandocfilters==1.5.0 ; python_version >= "3.8" and python_version < "3.11"
parso==0.8.3 ; python_version >= "3.8" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.8" and python_version < "3.11" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.8" and python_version < "3.11"
pillow==9.4.0 ; python_version >= "3.8" and python_version < "3.11"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==2.6.2 ; python_version >= "3.8" and python_version < "3.11"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
prometheus-client==0.15.0 ; python_version >= "3.8" and python_version < "3.11"
prompt-toolkit==3.0.36 ; python_version >= "3.8" and python_version < "3.11"
psutil==5.9.4 ; python_version >= "3.8" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.8" and python_version < "3.11" and os_name != "nt" or python_version >= "3.8" and python_version < "3.11" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.8" and python_version < "3.11"
pyasn1==0.4.8 ; python_version >= "3.8" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.11"
pydantic==1.10.4 ; python_version >= "3.8" and python_version < "3.11"
pygments==2.14.0 ; python_version >= "3.8" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.11"
pyrsistent==0.19.3 ; python_version >= "3.8" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.11"
python-jose==3.3.0 ; python_version >= "3.8" and python_version < "3.11"
python-json-logger==2.0.4 ; python_version >= "3.8" and python_version < "3.11"
python-slugify==8.0.1 ; python_version >= "3.8" and python_version < "3.11"
pytz==2022.7.1 ; python_version >= "3.8" and python_version < "3.11"
pywin32==305 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.8" and python_version < "3.11"
pywinpty==2.0.10 ; python_version >= "3.8" and python_version < "3.11" and os_name == "nt"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.11"
pyzmq==25.0.0 ; python_version >= "3.8" and python_version < "3.11"
qtconsole==5.4.0 ; python_version >= "3.8" and python_version < "3.11"
qtpy==2.3.0 ; python_version >= "3.8" and python_version < "3.11"
rdkit-pypi==2022.9.3 ; python_version >= "3.8" and python_version < "3.11"
requests==2.28.2 ; python_version >= "3.8" and python_version < "3.11"
rfc3339-validator==0.1.4 ; python_version >= "3.8" and python_version < "3.11"
rfc3986-validator==0.1.1 ; python_version >= "3.8" and python_version < "3.11"
rsa==4.9 ; python_version >= "3.8" and python_version < "3.11"
scikit-learn==1.2.2 ; python_version >= "3.8" and python_version < "3.11"
scipy==1.9.3 ; python_version >= "3.8" and python_version < "3.11"
send2trash==1.8.0 ; python_version >= "3.8" and python_version < "3.11"
setuptools==67.6.1 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Linux"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.11"
sniffio==1.3.0 ; python_version >= "3.8" and python_version < "3.11"
soupsieve==2.3.2.post1 ; python_version >= "3.8" and python_version < "3.11"
stack-data==0.6.2 ; python_version >= "3.8" and python_version < "3.11"
tabulate==0.8.10 ; python_version >= "3.8" and python_version < "3.11"
terminado==0.17.1 ; python_version >= "3.8" and python_version < "3.11"
text-unidecode==1.3 ; python_version >= "3.8" and python_version < "3.11"
threadpoolctl==3.1.0 ; python_version >= "3.8" and python_version < "3.11"
tinycss2==1.2.1 ; python_version >= "3.8" and python_version < "3.11"
torch-geometric==2.3.0 ; python_version >= "3.8" and python_version < "3.11"
torch==1.13.1 ; python_version >= "3.8" and python_version < "3.11"
tornado==6.2 ; python_version >= "3.8" and python_version < "3.11"
tqdm==4.64.1 ; python_version >= "3.8" and python_version < "3.11"
traitlets==5.8.1 ; python_version >= "3.8" and python_version < "3.11"
typer==0.4.2 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.4.0 ; python_version >= "3.8" and python_version < "3.11"
uri-template==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
urllib3==1.26.14 ; python_version >= "3.8" and python_version < "3.11"
wcwidth==0.2.6 ; python_version >= "3.8" and python_version < "3.11"
webcolors==1.12 ; python_version >= "3.8" and python_version < "3.11"
webencodings==0.5.1 ; python_version >= "3.8" and python_version < "3.11"
websocket-client==1.4.2 ; python_version >= "3.8" and python_version < "3.11"
wheel==0.40.0 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Linux"
widgetsnbextension==3.6.1 ; python_version >= "3.8" and python_version < "3.11"
wordcloud==1.8.2.2 ; python_version >= "3.8" and python_version < "3.11"
zipp==3.11.0 ; python_version >= "3.8" and python_version < "3.10"
